.App {
  text-align: center;
}

.linkedin-logo {
  width: 15px;
}

/* th {
  background: darkcyan;
  color: white;
  padding: 5px 10px;
}

td {
  background: lightcyan;
  border-radius: 2px;
  padding: 5px 10px;
} */
